---
enum Type {
    blog = "Blog /",
    write = "Write /",
    cheatsheet = "CheatSheets /",
}

const socials = [
    {
        name: Type.blog,
        url: "https://dev.nurarif.com",
        color: "text-gray-800 hover:text-gray-600",
    },
    {
        name: Type.write,
        url: "https://blog.nurarif.com",
        color: "text-gray-800 hover:text-gray-600",
    },
    {
        name: Type.cheatsheet,
        url: "/cheatsheets/index.html",
        color: "text-gray-800 hover:text-gray-600",
    },
];

const getClass = (type: Type) =>
    `text-2sm ${socials.find((social) => social.name === type)?.color} transition duration-300 hover:scale-110 animate-zoom-in`;
---

<div class="grid-cols-3 md:grid-flow-col duration-500">
    {
        socials.map((social) => (
            <a
                aria-label={social.name}
                class={getClass(social.name)}
                href={social.url}
                target="_blank"
                rel="nofollow noopner"
            >
                {social.name}
            </a>
        ))
    }
</div>
